@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100&display=swap");
*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  --primary: #e78a00;
  --surface: #2b2b2b;
  --on-surface: #ffffff;
}

html {
  font-size: 0.9vw;
}

body {
  height: 100%;
  font-family: "Roboto", sans-serif;
  background-color: var(--surface);
}
body .container {
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
}

.container {
  width: 72rem;
  height: 44rem;
  padding: 1.75rem 6.25rem;
  background-color: var(--surface);
  border-radius: 1.5rem;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.5);
  display: grid;
  position: relative;
  overflow: hidden;
}
.container .header {
  width: 59.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .header .brand .brand-text {
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.5rem;
  color: var(--on-surface);
  text-transform: uppercase;
}
.container .header nav .menu .navigation {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}
.container .header nav .menu .navigation .navigation-item {
  position: relative;
}
.container .header nav .menu .navigation .navigation-item.active .navigation-link .navigation-link-text {
  color: var(--primary);
}
.container .header nav .menu .navigation .navigation-item:not(:last-child)::after {
  content: "";
  width: 100%;
  height: 0.25rem;
  background-color: var(--primary);
  position: absolute;
  bottom: -1.5rem;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease;
}
.container .header nav .menu .navigation .navigation-item:hover::after, .container .header nav .menu .navigation .navigation-item.active::after {
  bottom: -0.5rem;
  opacity: 1;
  visibility: visible;
}
.container .header nav .menu .navigation .navigation-item .navigation-link .navigation-link-text {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.1875rem;
  color: var(--on-surface);
}
.container .header nav .menu .navigation .navigation-item .login-btn {
  border-color: var(--on-surface);
  transition: border-color 0.2s linear;
}
.container .header nav .menu .navigation .navigation-item .login-btn:hover {
  border-color: var(--primary);
}
.container main {
  display: flex;
  transition: translate 0.5s cubic-bezier(0.33, 0.14, 0.39, 1.3);
}
.container main .content {
  width: 59.5rem;
  height: 39rem;
  padding-top: 5rem;
  padding-bottom: 2.5rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.container main .content .product-image {
  width: 25rem;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container main .content .product-image img {
  width: inherit;
  height: inherit;
  -o-object-fit: cover;
     object-fit: cover;
}
.container main .content .add-to-cart-btn {
  background-color: var(--primary);
  gap: 0.5rem;
}
.container main .content .product-name {
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.5rem;
  color: var(--on-surface);
}
.container main .content::before {
  content: "AI Mouse";
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary);
  font-weight: 400;
  font-size: 11.25rem;
  line-height: 12rem;
  opacity: 0.05;
  z-index: -1;
}
.container .footer {
  width: 59.5rem;
  height: 2.5rem;
  color: var(--on-surface);
  position: absolute;
  bottom: 1.75rem;
  left: 6.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.container .footer .footer-navigation {
  display: flex;
  align-items: center;
}
.container .footer .footer-navigation .nav-arrow {
  font-size: 1.5rem;
  transition: scale 0.15s ease;
  cursor: pointer;
}
.container .footer .footer-navigation .nav-arrow:hover {
  scale: 1.2;
}
.container .footer .page-count span {
  font-weight: 500;
}
.container .footer .page-count span:first-child {
  color: var(--primary);
}
.container::before {
  content: "";
  width: 24rem;
  height: 24rem;
  background-color: #262626;
  border-radius: 50%;
  box-shadow: 0 0 0 2rem var(--surface), 0 0 0 4rem #2e2e2e;
  position: absolute;
  right: 0;
  bottom: 0;
  translate: 35% 50%;
  z-index: -1;
}
.container .page-indicator-container {
  width: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  top: 50%;
  translate: 0 -50%;
  left: 6.25rem;
}
.container .page-indicator-container .page-indicator {
  width: 1rem;
  height: 1rem;
  background-color: transparent;
  border-radius: 50%;
  position: relative;
  outline: 0.0625rem solid var(--on-surface);
  outline-offset: 0.25rem;
  cursor: pointer;
}
.container .page-indicator-container .page-indicator.active {
  background-color: var(--primary);
}
.container .decorations .decoration-lines {
  width: 19rem;
  height: 0.75rem;
  background-color: #515151;
  border-radius: 0.75rem;
  position: absolute;
}
.container .decorations .decoration-lines::before, .container .decorations .decoration-lines::after {
  content: "";
  height: inherit;
  border-radius: inherit;
  position: absolute;
  bottom: -2.25rem;
}
.container .decorations .decoration-lines::before {
  width: 7.6rem;
  background-color: var(--primary);
  left: 2.375rem;
}
.container .decorations .decoration-lines::after {
  width: 3.8rem;
  background-color: #515151;
  right: 3rem;
}
.container .decorations .decoration-lines.decoration-line-1 {
  top: 30%;
  left: 0;
  translate: -25%;
}
.container .decorations .decoration-lines.decoration-line-2 {
  top: 58%;
  right: 0;
  translate: 20%;
}

.btn {
  height: 2.25rem;
  padding: 0 2.5rem;
  border: 0.0625rem solid transparent;
  border-radius: 1.125rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: scale 0.1s linear;
  cursor: pointer;
}
.btn:active {
  scale: 0.99;
}
.btn span {
  font-weight: 600;
  font-size: 1rem;
}
.btn .icon {
  font-size: 1.5rem;
}/*# sourceMappingURL=style.css.map */