@function hexToRGB($hex) {
    @return red($hex), green($hex), blue($hex);
}
$primary: #94792c;
$surface: #2b2b2b;
$on-surface:#ffffff;

body {
    --primary: #{$primary};
    --surface: #{$surface};
    --on-surface: #{$on-surface};
}
