.switch-container {
    width: $switch-container-width;
    height: $switch-container-height;
    border: $switch-container-border-width solid $switch-container-border-color;
    border-radius: $switch-container-border-radius;
    position: absolute;
    top: $switch-container-position-top;
    right: $switch-container-position-right;
    display: flex;
    justify-content: center;
    & div span {
        display: inline-block;
        height: $tooltip-text-size;
        color: $tooltip-text-color;
    }
    & label {
        position: absolute;
        bottom: 0.5rem;
        & input[type="checkbox"] {
            display: none;
            &:checked {
                & ~ .auto-switch::after {
                    left: calc($switch-width - ($switch-height - 3px));
                    background-color: $switch-point-chechked-color;
                }
            }
        }
        & .auto-switch {
            width: $switch-width;
            height: $switch-height;
            background-color: $switch-bg-color;
            border-radius: calc($switch-height / 2);
            position: relative;
            &::after {
                content: "";
                width: $switch-point-width;
                height: $switch-point-height;
                background-color: $switch-point-color;
                border-radius: 50%;
                position: absolute;
                top: 50%;
                left: 3px;
                translate: 0 -50%;
                transition: all 0.3s ease;
            }
        }
    }
}
